<!DOCTYPE html>
<html lang="ko">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

    <link rel="stylesheet" href="stylesheets/search.css" type="text/css">

    <title>서향마루</title>
</head>

<body>
    <form action="./search" method="GET">
        <div class="ui container logo" style="display: flex; align-items: center;">
            <div class="logo">
                <a href="./">
                    <img src="images/logo.svg" alt="Logo" height="64" width="64"></img>
                </a>
            </div>
            <h1>Seoru</h1>
            <div class="search" style="width: 100%;">
                <div class="ui fluid action input">
                    <input name="query" type="text" value="<%= removeDuplicateSpace(query.query) %>">
                    <button type="submit" class="ui button">검색</button>
                </div>
            </div>
        </div>
    </form>
    <main role="main" class="ui container">
        <table class="ui unstackable very basic table">
            <thead>
                <tr>
                    <th scope="col">제목</th>
                    <th scope="col">저자</th>
                    <th scope="col">출판사</th>
                    <th scope="col">청구번호</th>
                    <th scope="col">등록번호</th>
                </tr>
            </thead>
            <tbody>
                <% for(var i = 0; i < books.length; i++) { %>
                    <tr>
                        <td><%= books[i].title %></td>
                        <td><%= books[i].author %></td>
                        <td><%= books[i].publisher %></td>
                        <td><%= books[i].call_number %></td>
                        <td><%= books[i].id %></td>
                    </tr>
                <% } %>
            </tbody>
        </table>
        <div class="ui pagination menu">
            <% if ( page != 1 ) { %>
                <% query.page = 1 %>
                <a class="item" href="<%= queryToString(query) %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            <% } else { %>
                <a class="disabled item" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            <% } %>
            <% for(var i = 0; i < pageCount; i++) { %>
                <% query.page = i + 1 %>
                <% if ( page != i + 1 ) { %>
                    <a class="item" href="<%= queryToString(query) %>"><%= i + 1 %></a>
                <% } else { %>
                    <div class="active item"><%= i + 1 %></div>
                <% } %>
            <% } %>
            <% if ( page != pageCount ) { %>
                <% query.page = pageCount %>
                <a class="item" href="<%= queryToString(query) %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            <% } else { %>
                <a class="disabled item" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            <% } %>
        </div>
    </main>

    <!-- Optional JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
</body>

</html>
